.form-label{
    justify-content: normal !important;
}

.row-conf{
    width: 100% !important;
    padding-bottom: 1.5rem !important;
}

.input-conf{
    width: 100% !important;
    max-width: none !important;
    border: none;
    border-radius: 0px !important;
    height: 100%;
    border: 1px solid #7f94a6 !important;
}

.header-title{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0px 41px 0px;
}

.header-col{
    border: 1px solid #d2d2d2;
    border-right:none;
    padding: 5px 0px 5px 0px;
}

.yellow-space{
    background-color: rgba(255,255,121 , 0.78);
}

.header-col p{
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0px 0px 0px 18px;
}

.nopadding{
    padding: 0px !important;
}

.form-title{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #222b45;
    margin: 15px 60px 15px 60px;
    padding: 0px 10px;
}

.dre-information{
    display: flex;
    align-items: center;
    border-right: 1px solid #d2d2d2 !important;
}

.dre-information-noBorder{
    display: flex;
    align-items: center;
}

///////// checkboxes //////////////
.disabled-checkbox {
    /* Adjust the opacity value to change the level of transparency */
    pointer-events: none; /* Disable pointer events to prevent interaction */
  }
  
  .disabled-checkbox label {
    cursor: not-allowed; /* Set the cursor to "not-allowed" when hovering over the label */
  }


  .signature-detail-container img {
    width: 83%;
  }

  .signature-field-container img{
    width: 160px;
    height: 77px;
  }