<div >
    <button class="mb-2" nbButton status="primary" (click)="downloadPdf()">Download DRE</button>
    
</div>




<div id="page1-div" id="htmlData" style="position:relative">
    <img class="image1" width="918" height="1188" src="/assets/fiches/target001.png" alt="background image"/>
    <p class="codeArticle">
        {{DRE_data.codeArticle}}
    </p>
    <p class="designation">{{DRE_data.codeArticle}}</p>
    <p class="nDre">{{DRE_data.designation}}</p>
    <p class="partNumber">{{DRE_data.partNumber}}</p>
</div>
<div></div>