.image1 {
    position: relative;
    top: 0;
    left: 0;
  }
  
.codeArticle {
    top: 169px;
    left: 212px;
}

.designation{
    top: 346px;
    left: 212px;
}

.nDre{
    top: 368px;
    left: 103px;
}

.partNumber{
    top: 192px;
    left: 106px;
}   

.dn{
    top: 301px;
    left: 212px;
}

p{
    font-size: 1em;
    position: absolute;
    color: rgb(5, 89, 199);
    font-weight: 600;
}